    body {
        background-color: lightgreen;
    }
    
    span.heading {
        text-align: center;
        font-size: 40px;
        font-family: cursive;
        margin-left: 40%;
        font-weight: bold;
    }
    
    img.firstimage {
        margin-left: 45%;
        float: clear;
        left: 50%;
        height: 100px;
        width: auto;
        border-radius: 20px;
        border: 4px solid black;
    }
    
    .navbar {
        background-color: azure;
        border-radius: 30px;
    }
    
    .navbar ul {
        overflow: auto;
    }
    
    .navbar li {
        float: left;
        list-style: none;
        margin: 13px 20px;
    }
    
    .navbar li a {
        padding: 3px 3px;
        text-decoration: none;
        color: black;
    }
    
    .navbar li a:hover {
        color: red;
    }
    
    .search {
        float: right;
        color: black;
        padding: 12px 75px;
    }
    
    .navbar input {
        border: 2px solid black;
        border-radius: 14px;
        padding: 3px 17px;
        width: 129px;
    }
    
    hr.first {
        color: black;
        height: 10px;
    }
    
    span.spanfirst {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: justify;
    }
    
    span.spansecond {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-left: 40%;
    }
    
    span.spanthird {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: justify;
    }
    
    span.spanfourth {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-left: 40%;
    }
    
    span.spanfifth {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: justify;
    }
    
    span.spansixth {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-left: 40%;
    }
    
    span.spanseventh {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: justify;
    }